footer.blog-footer
      .container
        p
          | O Melhor da Web - esporte, jornais, revistas, biblioteca, classificados, compras, computador, corpo, saúde, moda, carros, cinema, crianças, diversão, arte, economia, educação, internet, jogos, novelas, rádio, tv, tempo, mapas, trânsito, últimas notícias, viagem, jornalismo, informação, notícia, cultura, entretenimento, lazer, opinião, análise, internet, televisão, fotografia, imagem, som, áudio, vídeo, fotos, tecnologia, empregos, humor, música.
        p
          a(href='#') Voltar ao topo